<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css.css">
  </head>
<body>

  {% if site.baseurl == null %}
    {% assign linkhome = "/" %}
  {% else %}
    {% assign linkhome = site.baseurl %}
  {% endif %}
  {% if page.is_index %}
    <header class="container" style="margin-top:2em;margin-bottom:2em;">
      <h1><a href="{{ linkhome }}">{{ site.name }}</a></h1>
    </header>
    <div class="container">
      <div class="row">
        <div class="span9">


            <div style="position:relative">
              <div style="width:300px;height:225px" class="thumbnail span4"><img src="/caencamp_thumb.jpeg" title="CaenCamp #3" alt="CaenCamp #3" style="width:300px;"/></div>
              <div class="well span4">
                <div style="min-height:200px;">
                  <h2>Démo Rails + AngularJS en binômage et TDD</h2>
                  <h3 style="margin-top:10px;vertical-align:top;text-align:center;margin-bottom:1em;display:inline-block;width:300px">13<sup>ème</sup> CaenCamp<br />le 27 juin à <strong>18h30</strong></h3>

                  <p style="font-size:2em;font-weight:bold">☞ <a href="https://docs.google.com/forms/d/1tvKL-H9H5IH6E87gJTdmlDDOW6M5Ut6FsrBdSIXa9q0/viewform" target="_blank">Inscrivez-vous !</a></p>
                  <p style="font-size:2em;font-weight:bold">☞ <a href="https://docs.google.com/forms/d/15HHUxy5hw22a8Loba0XGaPO8ptCDmUL1mceayg_2pyM/viewform" target="_blank">Sondage !</a></p>
                  <div class="social-networks">
                    <a href="http://twitter.com/caencamp" class="twitter-logo">@CaenCamp</a>
                    <a href="http://facebook.com/caencamp" class="facebook-logo">Facebook</a>
                    <a href="https://groups.google.com/forum/?fromgroups#!forum/caencamp" class="google-groupes-logo">Google Group</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="span3">
          <div style="margin-bottom:0.5em;width:220px;" class="thumbnail"><a href="http://www.forum-digital.fr/" target="_blank"><img src="/forum_digital.png" style="width:220px" title="Forum Digital" alt="Logo Forum Digital" style="width:300px;"/></a></div>
          <p>Les CaenCamp ont lieu au <a href="http://www.forum-digital.fr/" target="_blank">Forum Digital</a>, partenaire de l'évènement.</p><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://widget.mailjet.com/2055476b8847e7c67d1139980becf8a6bf9705e8.html" width="228" height="138"></iframe>
          </div>
        </div>
      </div>

    </div>
    <div class="container">
      <h2>Actualités</h2><hr />
    </div>
  {% endif %}

