
  <div class="row">
    {% if page.is_index %}
      {% assign content = include.post.content %}
    {% endif %}
  
    <div class="span2 sidebar">
      
      <h4>{{ include.post.date | date: "%d/%m/%Y" }}</h4>
      {% if include.post.author_link %}
        Par <a href="{{include.post.author_link}}">{{ include.post.author }}</a>
      {% else %}
        Par {{ include.post.author }}
      {% endif %}
      {% for category in include.post.categories %}
        <h6>{{ category }}</h6>
      {% endfor %}
    </div>
    <div class="span10">
      <div style="margin-bottom:0.8em">
        {% if include.post.title %}
          <h3 class="title">
            {% if page.is_index %}
              <a href="{{ include.post.url }}">{{ include.post.title }}</a>
            {% else %}
              {{ include.post.title}}
            {% endif %}
          </h3>
        {% endif %}
      </div>
      <div class="post_content">
        {% if page.is_index %}
          {% if include.post.summary %}
            {{ include.post.summary }}
          {% else %}
            {{ include.post.content }}
          {% endif %}
        {% else %}
          {{ include.post.content }}
        {% endif %}
      </div>
    </div><!--content-->
  
  </div>
    {% if page.is_index %}
    <div class="separator" />
    {% endif %}

